<% provide(:title, 'About')%>
<div class="container">
	<div class="span6 offset2">
		<h3>En savoir plus sur Sharee!</h3>
		<p>
		Sharee est une plateforme facilitant la vente de loisirs et d’expériences.
		</p>
		<p>
		Il est aujourd’hui possible de louer sa maison, sa voiture, sa perceuse et son barbecue. Sur le principe de la consommation collaborative, Sharee vous permet d'organiser et de proposer aux autres utilisateurs des activités aussi originales qu'insolites : passez un week end detox en Bretagne chez l’habitant, endossez un tablier de forgeron le temps d’une journée en Normandie, osez le paintball zombie dans la forêt de Fontainebleau et apprenez à tisser le vacoa à la Réunion. Il suffit de créer vos expériences et de les partager pour passer des moments uniques d’échange et de découverte.
		</p>
	</div>
</div>