<% provide(:title, 'Contact') %> 
<div class="container">
	<div class="span6 offset2">
		<h3>Contact</h3>
		<p>
			Envoyez nous vos questions et demandes d'information 
			<a href="mailto:rrrispam@gmail.com">ici</a> !
		</p>
	</div>
</div>