<% provide(:title, 'All Subscribers') %> 

<div class="container">
	<div class="span6 offset3">
		<h1>All subscribers</h1>
		<ul class="subscribers unstyled">
			<% @subscribers.each do |subscriber| %>
			<li><%= subscriber.email %> </li>
			<% end %> 
		</ul>
	</div>
</div>