<footer class="footer">
	<div class="container">
  <small>
	<p> sharee teaser website v0.1</p>
  </small>
  <nav>
<ul>
<li><%= link_to "En savoir plus", about_path %></li>
<li><%= link_to "Nous contacter", contact_path %></li>
<li><a href="http://followsharee.wordpress.com/">Blog</a></li>
<li><a href="https://twitter.com/Sharee_exp">Twitter</a></li>
<li><a href="https://www.facebook.com/GooglePitchContest/posts/601902346496151">Facebook</a></li>

</ul> </nav>
</div>
</footer>