<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          <div class="navbar-inner">
			<div class="logo">
				<img src="http://s20.postimg.org/b3j451or1/logoseul.png">
			</div>
            <a class="brand" href="#">share<span>e</span></a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
				<% if signed_in? %>
					<li><%= link_to "Subscriber List", subscribers_path%></li>
					<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
				<% end %>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
            
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->